* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  /* background-color: #2980b9; */
}

.counter-content {
  width: 400px;
  height: 300px;
  background-color: #2980b9;
}

.content h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 10px;
}
.count {
  padding: 30px;
  font-size: 29px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.buttons {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
.add {
  padding: 10px;
  margin: 15px;
  background-color: green;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.subtract {
  padding: 10px;
  margin-left: 15px;
  background-color: orangered;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.reset {
  padding: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 5px;
}
